* {
  margin: 0px;
  padding: 0px;
}
.menu-content {
  background-color: blue;
  padding: 10px;
}
.menu ul{
  list-style: none;
}
.menu li {
display: inline-block;
margin-top: 15px;
}
.menu li a{
  text-decoration: none;
  padding: 21px;
}
.menu li:hover {
  background-color: rgb(51, 64, 143);
} 
.sub-menu ul {
  display:none;
}
.sub-menu li {
  display:block;
}
.menu li:hover .sub-menu ul{
  display:block;
  position: absolute;
  background-color: blue;
}

